PORT=localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:3000/api
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Next.js Org Template
NEXT_PUBLIC_APP_DESCRIPTION=A Next.js template for building organizational websites with ease.